*{
    margin: 0;
    padding: 0;
}
.title{
    height: 50px;
    background-color: orange;
    margin-bottom: 20px;
}
.askQuestion{
    background-color: skyblue;
    font-size: large;
    font-weight: bold;
    height: 30px;
}
.ask{
    margin-top: 20px;
    height: 30px;
    background-color: darkblue;
    color: white;
}
.output{
    margin-top: 20px;
}